* {
    box-sizing: border-box;
}

.bord {
    border: 20px solid white;
}

.h200 {
    min-height: 200px;
}

.h100 {
    min-height: 100px;
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    min-width: 100px;
    max-width: 100px;
}

